@import "settings";
@import "foundation";

.first-col{
background: #C0FFDC;
min-height: 700px;
}

.second-col{
background:rgba(255, 247, 0, 0.38);
min-height: 700px;
}

.title-area{
background-color:black;
}

.top-bar{
background-image: url(../img/nav.svg)
}

.City{
font-family: 'Ubuntu', sans-serif;
    font-size:30px;
    margin-top: 30px;
    margin-left: 50px;
  
}

.City1{
font-family: 'Ubuntu', sans-serif;
    font-size:20px;
    margin-top: 40px;
    margin-left: 10px;
}

.button1{

  background: #07e0a3;
  background-image: -webkit-linear-gradient(top, #07e0a3, #2bb8a0);
  background-image: -moz-linear-gradient(top, #07e0a3, #2bb8a0);
  background-image: -ms-linear-gradient(top, #07e0a3, #2bb8a0);
  background-image: -o-linear-gradient(top, #07e0a3, #2bb8a0);
  background-image: linear-gradient(to bottom, #07e0a3, #2bb8a0);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
   
}

.button1:hover {
  background: #a9fc3c;
  background-image: -webkit-linear-gradient(top, #a9fc3c, #42d934);
  background-image: -moz-linear-gradient(top, #a9fc3c, #42d934);
  background-image: -ms-linear-gradient(top, #a9fc3c, #42d934);
  background-image: -o-linear-gradient(top, #a9fc3c, #42d934);
  background-image: linear-gradient(to bottom, #a9fc3c, #42d934);
  text-decoration: none;
}

.button2{
  background: #f0ba30;
  background-image: -webkit-linear-gradient(top, #f0ba30, #fcda2f);
  background-image: -moz-linear-gradient(top, #f0ba30, #fcda2f);
  background-image: -ms-linear-gradient(top, #f0ba30, #fcda2f);
  background-image: -o-linear-gradient(top, #f0ba30, #fcda2f);
  background-image: linear-gradient(to bottom, #f0ba30, #fcda2f);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
    
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button2:hover {
  background: #fa9e3c;
  background-image: -webkit-linear-gradient(top, #fa9e3c, #f57e2e);
  background-image: -moz-linear-gradient(top, #fa9e3c, #f57e2e);
  background-image: -ms-linear-gradient(top, #fa9e3c, #f57e2e);
  background-image: -o-linear-gradient(top, #fa9e3c, #f57e2e);
  background-image: linear-gradient(to bottom, #fa9e3c, #f57e2e);
  text-decoration: none;
    
}
.weather{

font-family: 'Kranky', cursive;
font-size:50px;
    color: gold;
}

.weather1{

font-family: 'Kranky', cursive;
font-size:50px;
    color: dodgerblue;
}

.temp{
font-family: 'Kranky', cursive;
font-size:70px;
}

.time{
font-family: 'Kranky', cursive;
font-size:20px;
}

.date1{
font-family: 'Kranky', cursive;
font-size:30px;
}

.date{
font-family: 'Kranky', cursive;
font-size:20px;
}
